<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Angular API Testing</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Making use of <a href="https://jsonplaceholder.typicode.com/" target="_blank">JSON
                Placeholder</a> to practice GET/POST requests.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button routerLink="/get-todos" type="button" class="btn btn-primary btn-lg px-4 gap-3">Get Todos</button>
        </div>
    </div>
</div>