<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Angular API Testing</h1>
        <p class="col-md-8 fs-4">Making use of <a href="https://jsonplaceholder.typicode.com/" target="_blank">JSON
                Placeholder</a> to practice GET/POST requests.</p>
        <button routerLink="/get-todos" type="button" class="btn btn-success btn-rounded btn-block btn-lg"><i
                class="far fa-clock me-2 mr-2"></i>Get Todos</button>
    </div>
</div>